.text-center{
    text-align: center;
}

body{
    background-image: url(img/bg.JPG);
    background-repeat: no-repeat;
    background-size:220vh;
    background-position-x: center;
}

.text-color{
    color:darkslategrey;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


