body {
    background-color: silver;
}

.navbar-general .navbar-elements{
    border-left: 2px solid #135883 ;
}

.navbar-elements a{
    color: white;
}

.navbar-general .navbar-elements a:hover{
    background-color: white;
    color: black;
}

.navbar-search{
    height:30px !important;
    margin-top: 5px;    
}

.navbar-user {
    background-color: blue ;
    
}
.bg-navbar{
    background-color: darkblue;
}





